.firstTab {
    .firstTab__title {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .firstTab__submit_button {
        display: block;
        margin: 0 auto;
    }   
    .firstTab__result {
        margin-top: 50px;
        font-size: 1.25rem;
    }
}