.secondTab {
    text-align: center;
    .secondTab__title {
        font-size: 1.5rem;
    }
    .secondTab__button {
        margin: 50px 0;
    }
    .secondTab__result {
        font-size: 1.25rem;
    }
}